{
  "docs": {
    "points": "https://docs.ergogen.xyz/points",
    "outlines": "https://docs.ergogen.xyz/outlines",
    "cases": "https://docs.ergogen.xyz/cases",
    "pcbs": "https://docs.ergogen.xyz/pcbs"
  }
}
